body{
	background-image: url(fondo3.jpg);
	background-size: cover;
}
.cc{
	position: absolute;
	width: 8%;
	height: 10%;
	right: 2%;
	top: 84%;
}
.div1{
	position: absolute;
	top: 5%;
	left: 1%;
	width: 25%;
	height: 15%;
	background-color: #ffffff;
	opacity: 45%;
	font-family: titulo3;
	font-size: 250%;
	color:#000000 ;
	text-shadow: 5px 5px 5px #00D8B7;
}

@font-face{
	font-family: titulo3;
	src: url(titulo3.otf);
}
